.message__receiver,
.message__sender {
  box-sizing: border-box;
  padding: 15px;
  align-items: center;

  & .message__text {
    max-width: 30%;

    margin-left: 10px;
    display: inline-block;
    border-radius: 40px;
    background-color: $message-sender;
    color: white;
    padding: 15px;
  }
}

.message__receiver {
  text-align: right;

  & .message__text {
    background-color: $message-receiver;
    color: black;
  }
}

.message__sender {
  & .message__main {
    display: flex;
    align-items: center;
  }
}



.message__time  {
  margin: 0;
  color: $text-secondary;
}